In [64]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [27]:
data_df = pd.read_excel("dataVP.xlsx")
data_df.shape

(100, 158)

In [29]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Columns: 158 entries, Business_Date to D_of_Month
dtypes: datetime64[ns](3), float64(139), int64(15), object(1)
memory usage: 123.6+ KB

In [81]:
data = data_df[['Business_Date', 'Max_Dpd_L2M', 'Max_Ovd', 'N_Dpd_0105_Frm_Cur_L6M', 'Max_Dpd_L6M', 'Avg_Dpd_L6M', 'Avg_Dpd_Cont_L6M', 'Max_Dpd_L1M', 'Term', 'Avg_Dpd_L2M', 'Avg_Dpd_L3M']]

In [82]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Business_Date           100 non-null    datetime64[ns]
 1   Max_Dpd_L2M             83 non-null     float64
 2   Max_Ovd                 100 non-null    int64
 3   N_Dpd_0105_Frm_Cur_L6M  87 non-null     float64
 4   Max_Dpd_L6M             94 non-null     float64
 5   Avg_Dpd_L6M             94 non-null     float64
 6   Avg_Dpd_Cont_L6M        91 non-null     float64
 7   Max_Dpd_L1M             72 non-null     float64
 8   Term                    100 non-null    int64
 9   Avg_Dpd_L2M             83 non-null     float64
 10  Avg_Dpd_L3M             90 non-null     float64
dtypes: datetime64[ns](1), float64(8), int64(2)
memory usage: 8.7 KB

In [83]:
data.head(100)

   Business_Date  Max_Dpd_L2M  Max_Ovd  ...  Term  Avg_Dpd_L2M  Avg_Dpd_L3M
0     2019-09-16         52.0       16  ...    60         52.0         31.0
1     2019-09-16          1.0        4  ...    60          1.0          1.0
2     2019-09-16         14.0       11  ...    72          7.0          8.0
3     2019-09-16          4.0        3  ...    72          2.0          2.0
4     2019-09-16          1.0        1  ...    72          1.0          1.0
..           ...          ...      ...  ...   ...          ...          ...
95    2019-09-16          7.0        7  ...   240          6.0          4.0
96    2019-09-16          1.0        3  ...    85          1.0          3.0
97    2019-09-16          NaN        1  ...    36          NaN          2.0
98    2019-09-16          2.0        7  ...    12          1.0          1.0
99    2019-09-16          4.0        3  ...    60          4.0          4.0

[100 rows x 11 columns]

In [84]:
data.describe()

       Max_Dpd_L2M     Max_Ovd  ...  Avg_Dpd_L2M  Avg_Dpd_L3M
count    83.000000  100.000000  ...    83.000000    90.000000
mean      8.626506    6.930000  ...     6.240964     5.633333
std      11.264785   12.793034  ...     8.828433     6.839163
min       1.000000    1.000000  ...     1.000000     1.000000
25%       3.000000    1.000000  ...     2.000000     2.000000
50%       6.000000    3.000000  ...     4.000000     3.000000
75%       9.000000    7.000000  ...     6.000000     6.000000
max      61.000000   89.000000  ...    52.000000    34.000000

[8 rows x 10 columns]

In [70]:
from sklearn.preprocessing import MinMaxScaler

In [77]:
minmax = MinMaxScaler()
data_tf = minmax.fit_transform(data)

In [135]:
data1 = pd.DataFrame(data_tf, columns=['Max_Dpd_L2M','Max_Ovd','N_Dpd_0105_Frm_Cur_L6M','Max_Dpd_L6M','Avg_Dpd_L6M','Avg_Dpd_Cont_L6M','Max_Dpd_L1M','Term','Avg_Dpd_L2M','Avg_Dpd_L3M'])

In [80]:
data1.head(100)

    Max_Dpd_L2M   Max_Ovd  ...  Avg_Dpd_L2M  Avg_Dpd_L3M
0      0.850000  0.170455  ...     1.000000     0.909091
1      0.000000  0.034091  ...     0.000000     0.000000
2      0.216667  0.113636  ...     0.117647     0.212121
3      0.050000  0.022727  ...     0.019608     0.030303
4      0.000000  0.000000  ...     0.000000     0.000000
..          ...       ...  ...          ...          ...
95     0.100000  0.068182  ...     0.098039     0.090909
96     0.000000  0.022727  ...     0.000000     0.060606
97          NaN  0.000000  ...          NaN     0.030303
98     0.016667  0.068182  ...     0.000000     0.000000
99     0.050000  0.022727  ...     0.058824     0.090909

[100 rows x 10 columns]

In [180]:
data2 = data_df['Business_Date']
data2

0    2019-09-16
1    2019-09-16
2    2019-09-16
3    2019-09-16
4    2019-09-16
        ...
95   2019-09-16
96   2019-09-16
97   2019-09-16
98   2019-09-16
99   2019-09-16
Name: Business_Date, Length: 100, dtype: datetime64[ns]

In [133]:
data1.to_excel("outputusingSklearn.xlsx")

In [86]:
mins = [data[col].min() for col in data.columns]
mins

[Timestamp('2019-09-16 00:00:00'),
 1.0,
 1,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 12,
 1.0,
 1.0]

In [87]:
maxs = [data[col].max() for col in data.columns]
maxs

[Timestamp('2019-09-16 00:00:00'),
 61.0,
 89,
 23.0,
 63.0,
 32.0,
 52.0,
 51.0,
 300,
 52.0,
 34.0]

In [103]:
Xm = data['Max_Ovd']
Xm

0     16
1      4
2     11
3      3
4      1
      ..
95     7
96     3
97     1
98     7
99     3
Name: Max_Ovd, Length: 100, dtype: int64

In [98]:
def normalize(data):
return [round((i- data[col].min()) / ((data[col].max()) - (data[col].min()), 5) for i in data[col]
              print(normalize(data))

IndentationError: ignored

In [118]:
X1 = data['Avg_Dpd_Cont_L6M']
X2 = data['Avg_Dpd_L2M']
X3 = data['Avg_Dpd_L3M']
X4 = data['Avg_Dpd_L6M']
X5 = data['Max_Dpd_L1M']
X6 = data['Max_Dpd_L2M']
X7 = data['Max_Dpd_L6M']
X8 = data['Max_Ovd']
X9 = data['N_Dpd_0105_Frm_Cur_L6M']
X10 = data['Term']

In [116]:
X1_std = (X1 - X1.min(axis=0)) / (X1.max(axis=0) - X1.min(axis=0))
X2_std = (X2 - X2.min(axis=0)) / (X2.max(axis=0) - X2.min(axis=0))
X3_std = (X3 - X3.min(axis=0)) / (X3.max(axis=0) - X3.min(axis=0))
X4_std = (X4 - X4.min(axis=0)) / (X4.max(axis=0) - X4.min(axis=0))
X5_std = (X5 - X5.min(axis=0)) / (X5.max(axis=0) - X5.min(axis=0))
X6_std = (X6 - X6.min(axis=0)) / (X6.max(axis=0) - X6.min(axis=0))
X7_std = (X7 - X7.min(axis=0)) / (X7.max(axis=0) - X7.min(axis=0))
X8_std = (X8 - X8.min(axis=0)) / (X8.max(axis=0) - X8.min(axis=0))
X9_std = (X9 - X9.min(axis=0)) / (X9.max(axis=0) - X9.min(axis=0))
X10_std = (X10 - X10.min(axis=0)) / (X10.max(axis=0) - X10.min(axis=0))

In [121]:
X1_std

0     1.000000
1     0.000000
2     0.156863
3     0.098039
4     0.000000
        ...
95    0.058824
96    0.019608
97    0.098039
98    0.019608
99    0.039216
Name: Avg_Dpd_Cont_L6M, Length: 100, dtype: float64

In [122]:
X2_std

0     1.000000
1     0.000000
2     0.117647
3     0.019608
4     0.000000
        ...
95    0.098039
96    0.000000
97         NaN
98    0.000000
99    0.058824
Name: Avg_Dpd_L2M, Length: 100, dtype: float64

In [130]:
dataout = pd.DataFrame([X1_std, X2_std, X3_std, X4_std, X5_std, X6_std, X7_std, X8_std, X9_std, X10_std])
print(dataout)

                              0         1   ...        98        99
Avg_Dpd_Cont_L6M        1.000000  0.000000  ...  0.019608  0.039216
Avg_Dpd_L2M             1.000000  0.000000  ...  0.000000  0.058824
Avg_Dpd_L3M             0.909091  0.000000  ...  0.000000  0.090909
Avg_Dpd_L6M             1.000000  0.000000  ...  0.032258  0.064516
Max_Dpd_L1M                  NaN       NaN  ...  0.000000  0.060000
Max_Dpd_L2M             0.850000  0.000000  ...  0.016667  0.050000
Max_Dpd_L6M             1.000000  0.032258  ...  0.048387  0.048387
Max_Ovd                 0.170455  0.034091  ...  0.068182  0.022727
N_Dpd_0105_Frm_Cur_L6M  0.000000  0.181818  ...  0.227273  0.090909
Term                    0.166667  0.166667  ...  0.000000  0.166667

[10 rows x 100 columns]

In [147]:
dtout = dataout.transpose()
print(dtout)

    Avg_Dpd_Cont_L6M  Avg_Dpd_L2M  ...  N_Dpd_0105_Frm_Cur_L6M      Term
0           1.000000     1.000000  ...                0.000000  0.166667
1           0.000000     0.000000  ...                0.181818  0.166667
2           0.156863     0.117647  ...                0.045455  0.208333
3           0.098039     0.019608  ...                0.500000  0.208333
4           0.000000     0.000000  ...                0.318182  0.208333
..               ...          ...  ...                     ...       ...
95          0.058824     0.098039  ...                0.227273  0.791667
96          0.019608     0.000000  ...                0.090909  0.253472
97          0.098039          NaN  ...                0.045455  0.083333
98          0.019608     0.000000  ...                0.227273  0.000000
99          0.039216     0.058824  ...                0.090909  0.166667

[100 rows x 10 columns]

In [181]:
dtout.to_excel("outputnotusingSklearn.xlsx")